@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #cbecf1;
}

.chatbot{
    position: fixed;
    right: 500px;
    bottom: 100px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    width:450px;
    overflow: hidden;
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
    
}
.show-chatbot .chatbot {
    transform: scale(1);
    pointer-events: auto;
    opacity: 1;
}
.chatbot header{
background: #6347d0;
padding: 16px 0;
text-align: center;

}

.chatbot header h2{
    color:#ffffff;
    font-size: 1.4rem;

    }
.chatbot .chatbox{
    height: 410px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    background: #6347d0;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    align-self: flex-end;
}

.chatbox .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
    color: #ffffff;
}

.chatbox .chat p {
background: #6347d0;
padding: 12px 16px;
border-radius: 10px 10px 0 10px;
max-width: 75%;
font-size: 0.95rem;

}

.chatbox .incoming p{
    color: black;
    background: #e6e5e5ad;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
    display: flex;
    gap: 5px;
}

.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
align-self: flex-end;
height: 55px;
line-height: 55px;
color: #6347d0;
font-size: 1.5rem;
cursor: pointer;
visibility: hidden;
}

.chat-input textarea:valid ~ span {
visibility: visible;
}

.chatbot-toggler{
    position: fixed;
    right: 500px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    background: #6347d0;
    color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span{
    position: absolute;
}

.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}

@media(max-width: 490px) {
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox{
        height: 90%;
    }
}